@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|PT+Sans:400,700');

body
{
    font-family: 'Roboto', sans-serif;

    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 34%, rgba(113,15,107,1) 80%, rgba(104,3,147,1) 100%);
}
.flex-container
{
    display: flex;
    flex-direction: column;
}

h2
{
    font-family: 'Amatic SC', cursive;
    font-size: 30vw;
    font-weight: 700;

    position: relative;

    margin-top: -45vw;

    text-align: center;

    color: white;
}
p
{
    font-family: 'PT Sans', sans-serif;
    font-size: 8vw;
    margin-top: 3vw;
    margin-bottom: 23vw;

    color: white;
}

h1
{
    font-family: 'Amatic SC', cursive;
    font-size: 9vw;
    font-weight: 700;

    position: relative;

    text-align: center;

    color: white;
}

h3
{
    font-family: 'PT Sans', sans-serif;
    font-size: 11vw;
    font-weight: 700;
    margin-top: 3vw;
    margin-left: 23vw;
    color: white;
}
h4
{
    font-family: 'PT Sans', sans-serif;
    font-size: 6vw;

    margin-left: 6vw;


    margin-bottom: -25vw;

    position: relative;
    color: white;
}
a
{
    text-decoration: none;

    color: white;
}

main
{
    overflow: hidden;

    flex-flow: column wrap;
    align-items: center;
}
.adres
{
    margin-bottom: -11vw;
}
.cat
{
    margin-bottom: 7vw;
}
.info
{
    margin-right: 4vw;
    margin-left: 0vw;
}

.picturestexts
{
    margin-top: 5vw;

    justify-content: center;
}
.shaba
{
    top: -16vw;
    left: 14vw;

    width: 80vw;
    margin-left: 15vw;
}
.oblochko
{
    width: 103vw;
    margin-top: -42vw;
    margin-left: 4vw;
}
.vks
{
    width: 13vw;
    margin-left: 83vw;
    top: 32vw;
    position: relative;
}

.knopka
{
    font-family: 'PT Sans', sans-serif;
    font-size: 6vw;
    font-weight: 700;
    display: block;
    width: 43vw;
    margin-top: 36vw;
    margin-bottom: -4vw;
    margin-left: 25vw;
    padding: 5vw 3vw;

    transition: all .25s ease-in;
    text-align: center;
    text-decoration: none;

    color: #00c6ff;
    border: 1px solid #00c6ff;
    background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
}

.vie:hover
{
    color: #fff;
    background-position: 0 0;
}
.adres {
    margin-bottom: -60vw;
}
@media (min-width: 768px)
{
    h2
    {
        font-size: 30vw;

        margin-top: -45vw;
    }
    p
    {
        font-size: 6vw;

        margin-top: 1vw;
        margin-bottom: 15vw;
        margin-right: 5vw;
    }

    h1
    {

        font-size: 9vw;

    }

    h3
    {
        font-size: 8vw;

        margin-top: 8vw;
        margin-left: 6vw;
    }
    h4
    {
        font-size: 4vw;

        margin-top: 5vw;
        margin-bottom: 2vw;
        margin-left: 6vw;
    }
    .adres
    {
        margin-bottom: -11vw;
    }
    .cat
    {
        margin-bottom: 7vw;
    }
    .info
    {
        margin-right: 8vw;
        margin-left: 10vw;
    }

    .picturestexts
    {
        margin-top: 5vw;

        justify-content: center;
    }
    .stars
    {
        width: 101vw;
    }
    .shaba
    {
        width: 89vw;
    }
    .oblochko
    {
        width: 106vw;
        margin-top: -49vw;
        margin-left: 4vw;
    }
    .vks
    {
        width: 10vw;
        margin-left: 85vw;
        top: 30vw;
    }

    .knopka
    {
        font-size: 4vw;
        font-weight: 700;
        display: block;
        width: 33vw;
        margin-top: 36vw;
        margin-bottom: -4vw;
        margin-left: 29vw;
        padding: 4vw 3vw;
    }
    .picturestexts
    {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto 200px 200px auto 200px 200px 200px auto 200px 200px auto;
        grid-gap: 25px;
        grid: repeat(3, 1fr) / repeat(2, 1fr);
    }
}

@media (min-width: 1024px)
{
    .picturestexts
    {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto 200px 200px auto 200px 200px 200px auto 200px 200px auto;
        grid-gap: 47px;
        grid: repeat(3, 1fr) / repeat(2, 1fr);
    }
    h2
    {
        font-size: 30vw;

        margin-top: -45vw;
    }
    h3
    {
        font-size: 8vw;

        margin-top: 6vw;
        margin-left: 5vw;
    }

    p
    {
        font-size: 6vw;

        margin-top: 1vw;
        margin-right: 2vw;
    }

    h1
    {
        font-family: 'Amatic SC', cursive;
        font-size: 9vw;
        font-weight: 700;

        position: relative;

        text-align: center;

        color: white;
    }
    h4
    {
        font-size: 4vw;
        margin-bottom: -23vw;
        margin-bottom: 3vw;
        margin-left: 5vw;
    }

    }
    .adres
    {
        margin-bottom: -11vw;
    }
    .info
    {
        margin-right: 5vw;
        margin-left: 11vw;
    }
    .stars
    {
        width: 108vw;
    }
    .shaba
    {
        width: 91vw;
        margin-left: 14vw;
    }
    .oblochko
    {
        width: 113vw;
        margin-top: -46vw;
        margin-left: 1vw;
    }
    .adres
    {
        margin-bottom: -14vw;
    }
    .vks
    {
      width: 11vw;
      margin-left: 85vw;
      top: 30vw;
    }
}
@media (min-width: 1440px)
{
    .picturestexts
    {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto 200px 200px auto 200px 200px 200px auto 200px 200px auto;
        grid-gap: 47px;
        grid: repeat(3, 1fr) / repeat(2, 1fr);
    }
    h2
    {
        font-size: 34vw;

        margin-top: -49vw;
    }
    h3
    {
      font-size: 7vw;
        margin-top: 5vw;
        margin-left: 5vw;
    }

    p
    {
        margin-right: 3vw;
    }

    h4
    {
        font-size: 4vw;
        margin-bottom: -23vw;
        margin-left: 4vw;
        position: relative;
    }

    .adres
    {
        margin-bottom: -11vw;
    }

    .info
    {
        margin-right: 5vw;
        margin-left: 11vw;
    }
    .stars
    {
        width: 111vw;
    }
    .shaba
    {
        width: 97vw;
        margin-left: 12vw;
    }
    .oblochko
    {
        width: 117vw;
        margin-top: -53vw;
        margin-left: 0vw;
    }
    .adres
    {
        margin-bottom: -14vw;
    }
    .vks
    {
      width: 10vw;
      margin-left: 85vw;
      top: 30vw;
    }
    .cat
    {
            margin-bottom: 17vw;
    }
}
